
body {
	font-family: "Roboto", sans-serif;
  }
.body-home, .body-login {
	background: url(../img/back5.jpeg);
	
	background-size: cover;
	background-attachment: fixed;
}

/* .black-fill {
	filter: brightness(0.8);
} */

#homeNav {
	/* width: 900px; */
	border-radius: 30px !important;
	height: 60px !important;
	/* background: rgba(255,255,255, 0.5) ; */
}
.navbar .navbar-nav .nav-link {
	color: rgb(7, 189, 149);
	font-size: 20px;
	/* font-weight: bold; */
  }
  .navbar .navbar-nav .nav-link.active {
	color: rgb(221 179 7);
  }
  
  .navbar .navbar-nav .nav-link:hover {
	color: rgb(221 179 7);
	border-bottom:2px solid rgb(221 179 7) ;
  }

.welcome-text {
	min-height: 80vh;
}
.welcome-text img {
	width: 100px;
}
.welcome-text h3 {
	color: rgb(1 71 117) ;
	font-size: 30px;
	font-family: 'Lobster', cursive;

}
.welcome-text h4 {
	color: rgb(1 71 117) ;
	font-size: 51px;
	font-family: 'Lobster', cursive;

}
.welcome-text .paragraphe {
	color: #0e0d0d;
	background: rgba(248, 244, 244, 0.849);
	font-size: 20px;
	padding: 10px;
	border-radius: 6px;
	max-width: 700px;
	font-family: 'Lobster', cursive;

}

#about {
	min-height: 110vh;
}
#about .card-1{
	max-width: 600px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 20px;
	border-radius: 5px;
}
#about .card-1 h5{
	font-family: 'Lobster', cursive;
	font-size: 28px;
}

#contact {
	min-height: 100vh;
}
#contact form{
	max-width: 600px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 20px;
	border-radius: 5px;
}
#contact form h3 {
	text-align: center;
	font-family: 'Lobster', cursive;
}
textarea {
	resize: none;
}

.login {
	
	max-width: 500px;
	width: 90%;
	background: rgba(255,255,255, 0.5);
	padding: 10px;
	border-radius: 10px;
}
.login h3{
	text-align: center;
	font-size: 30px;
}
.w-450 { 
	width: 450px;
}
  .n-table { 
	 max-width: 2000px; 
}  

.form-w {
	max-width: 900px;
	width: 100%;
}
